<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.moon.Mtube.mapper.ChannelMapper">

    <select id="toExistChannelByName" resultType="boolean">
        SELECT EXISTS
        (SELECT name FROM CHANNEL WHERE name=#{name})
    </select>

    <select id="getChannel" resultType="me.moon.Mtube.dto.channel.ChannelResponseDto">
        SELECT id, name, description, subscribe_count, created_date, user_id
        FROM CHANNEL WHERE id=#{id} AND isBanned="NONE"
    </select>

    <insert id="addChannel" parameterType="me.moon.Mtube.dto.channel.ChannelSaveRequestDto">
        INSERT INTO CHANNEL(name, description, user_id, subscribe_count, isBanned, created_date, modified_date)
        VALUES(#{name}, #{description}, #{user_id}, 0, "NONE", NOW(), NOW())
    </insert>

    <update id="updateChannel" parameterType="me.moon.Mtube.dto.channel.ChannelUpdateRequestDto">
        UPDATE CHANNEL SET description=#{description}, modified_date=NOW()
        WHERE id=#{id}
    </update>

    <delete id="deleteChannel">
        DELETE FROM CHANNEL WHERE id=#{id}
    </delete>

    <insert id="addChannelPlaylist" parameterType="me.moon.Mtube.dto.playlist.ChannelPlaylistSaveRequestDto">
        INSERT INTO CHANNEL_PLAYLIST_NAME(channel_id, name, created_date, modified_date)
        VALUES(#{channelId},#{name},NOW(),NOW())
    </insert>

    <select id="getChannelIdByChannelName" resultType="Long">
        SELECT id FROM CHANNEL WHERE name=#{name}
    </select>

    <update id="updateChannelPlaylist" parameterType="me.moon.Mtube.dto.playlist.ChannelPlaylistUpdateRequestDto">
        UPDATE CHANNEL_PLAYLIST_NAME SET name=#{name}, modified_date=NOW()
        WHERE id=#{id}
    </update>

    <delete id="deleteChannelPlaylist">
        DELETE FROM CHANNEL_PLAYLIST_NAME WHERE id=#{id}
    </delete>

    <select id="isMatchChannelByUserId" resultType="boolean">
        SELECT EXISTS
        (SELECT id FROM CHANNEL WHERE user_id=#{userId} AND id=#{channelId})
    </select>
</mapper>