<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.moon.Mtube.mapper.CommentMapper">
    <select id="getComment">
        SELECT * FROM COMMENT WHERE video_post_id=#{postId}
    </select>

    <insert id="addComment" parameterType="me.moon.Mtube.dto.comment.CommentSaveRequestDto">
        INSERT INTO COMMENT(content,user_id, like_count, dislike_count, heart, parent, isRemoved, created_date, modified_date, video_post_id)
        VALUES (#{content}, #{userId}, 0, 0, "NONE", #{parent}, "NONE", NOW(), NOW(), #{video_post_id})
    </insert>
</mapper>