<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.moon.Mtube.mapper.SubscribeMapper">
    <select id="toExistSubscribe" resultType="boolean">
        SELECT EXISTS
        (SELECT * FROM SUBSCRIBE WHERE user_id=#{userId} AND channel_id=#{channelId}
    </select>

    <insert id="subscribe">
        INSERT INTO SUBSCRIBE(user_id, channel_id)
        VALUES(#{userId}, #{channelId})
    </insert>
</mapper>